/*GENERAL*/
html
{
    font-family: 'Asul', sans-serif;
    font-size: 20px;

    color: #3b3738;
    background-color: #c63d0f;
}
body
{
    width: 80%;
    height: 90%;
    margin: 5% 10% 5% 10%;

    background: #fdf3e7;
    box-shadow: 10px 10px 4px #7e8f7c;
}
ul
{
    padding-top: 3%;
    padding-bottom: 3%;

    list-style: none;
}
li
{
    padding-bottom: 3%;

    text-align: left;
}
footer
{
    clear: both;

    width: 80%;
    height: 90%;
    margin: 5% 10% 5% 10%;

    text-align: center;
}
.title
{
    clear: both;

    width: 90%;
    height: 88%;
    margin: 5% 5% 3% 5%;
    padding-top: 2%;

    text-align: center;

    text-shadow: 5px 5px 2px #7e8f7c;
}
.delimitare
{
    clear: both;
}
/*CONTINUT*/
.continut__article-continut
{
    width: 90%;
    height: 89;
    margin: 0 5% 1% 5%;
    padding-bottom: 1%;
}
/*INFORMATII PERSONALE*/
#informatii-personale__contact
{
    width: 80%;
    height: 100%;
    margin: 0 0 0 0;
}
#informatii-personale__imagine:hover
{
    width: 25%;
}
#informatii-personale__imagine
{
    position: relative;

    float: right;

    width: 20%;
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 1%;

    transition: width 1s linear 1s;

    border-radius: 10px;
    box-shadow: 5px 5px 2px #7e8f7c;
}
.informatii-personale
{
    margin: 0 25% 0 25%;
    padding: .5% 0 0 0;

    border: 1px solid #7e8f7c;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #7e8f7c;
}
/*TITLU ARTICLE CONTINUT*/
dt
{
    font-weight: bold;

    width: 100%;
    height: 100%;
    margin: 0 0 0 1%;
    padding: 0 2% 2% 0;

    text-align: right;

    text-shadow: 5px 5px 2px #7e8f7c;
}
dt:hover
{
    background-color: #7e8f7c;
}
#container-1
{
    float: left;

    width: 20%;
    margin: 0 0 0 1%;
    padding: 0 2% 1% 1%;

    border-right: 1px solid #7e8f7c;
}
#container-2
{
    float: left;

    width: 20%;
    margin: 0 0 0 1%;
    padding: 0 2% 3% 1%;

    border-right: 1px solid #7e8f7c;
}
#container-3
{
    float: left;

    width: 20%;
    margin: 0 0 0 1%;
    padding: 0 2% 9% 1%;

    border-right: 1px solid #7e8f7c;
}
#container-4
{
    float: left;

    width: 20%;
    margin: 0 0 0 1%;
    padding: 0 2% 27% 1%;

    border-right: 1px solid #7e8f7c;
}
#container-5
{
    float: left;

    width: 20%;
    margin: 0 0 0 1%;
    padding: 0 2% 3% 1%;

    border-right: 1px solid #7e8f7c;
}
#container-6
{
    float: left;

    width: 20%;
    margin: 0 0 0 1%;
    padding: 0 2% 17% 1%;

    border-right: 1px solid #7e8f7c;
}
/*ARTICLE CONTINUT*/
dd
{
    float: right;

    width: 67%;
    height: 100%;
    margin: 0 3% 0 0;

    text-align: justify;
}
dd.delimitare
{
    float: none;

    height: 15px;
    margin: 0;
}
/*TABEL*/
.continut__tabel
{
    width: 90%;
    height: 96%;
    margin: 1% 5% 1% 5%;

    border: 1px solid #3b3738;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #7e8f7c;
}
.continut__tabel table
{
    width: 100%;
    height: 100%;

    border-spacing: 0;
    border-collapse: collapse;
}
.continut__tabel table tr:last-child td:last-child
{
    border-bottom-right-radius: 10px;
}
.continut__tabel table tr:first-child td:first-child
{
    border-top-left-radius: 10px;
}
.continut__tabel table tr:first-child td:last-child
{
    border-top-right-radius: 10px;
}
.continut__tabell tr:last-child td:first-child
{
    border-bottom-left-radius: 10px;
}
.continut__tabel tr:nth-child(odd)
{
    background-color: #7e8f7c;
}
.continut__tabell tr:nth-child(even)
{
    background-color: #fdf3e7;
}
.continut__tabel td
{
    font-size: 10px;
    font-weight: normal;

    padding: 10px;

    text-align: center;
    vertical-align: middle;

    border: 1px solid #3b3738;
    border-width: 0 1px 1px 0;
}
.continut__tabel tr:last-child td
{
    border-width: 0 1px 0 0;
}
.continut__tabel tr td:last-child
{
    border-width: 0 0 1px 0;
}
.continut__tabel tr:last-child td:last-child
{
    border-width: 0 0 0 0;
}
.continut__tabel tr:first-child td:first-child
{
    border-width: 0 0 1px 0;
}
.continut__tabel tr:first-child td:last-child
{
    border-width: 0 0 1px 1px;
}
.continut__tabel tr:first-child td
{
    font-size: 14px;
    font-weight: bold;

    text-align: center;

    color: black;
    border: 1px solid #3b3738;
    border-width: 0 0 1px 1px;
    background-color: #7e8f7c;
}
/*LVHA FOOTER*/
a
{
    text-decoration: none;
}
a:link
{
    color: #c63d0f;
}
a:visited
{
    color: #3b3738;
}
a:hover
{
    color: #7e8f7c;
}
a:active
{
    color: #3b3738;
}
